.dropdown-container {
  position: relative;
}
.dropdown,
.dropdown__sec {
  position: absolute;
  top: 30px;
  left: -210px;
  z-index: 1000;
  width: 251px;
  border-radius: 3px;
  background: #252525;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation-name: dropdown;
  animation-duration: 0.2s;
  top: 30px;
}
.dropdown__sec {
  left: -200px;
  top: 35px;
  display: none;
  animation: none;
}
.link:hover .dropdown__sec {
  display: block;
}
.dropdown--playlist {
  top: 47px;
  left: 20px;
  animation-name: dropdown--playlist;
  animation-duration: 0.2s;
}
.dropdown--card {
  position: absolute;
  top: 47px;
  right: 0px;
  animation-name: dropdown--card;
  animation-duration: 0.2s;
  z-index: 1000;
  width: 251px;
  border-radius: 3px;
  background: #252525;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dropdown ul,
.dropdown--card ul {
  list-style-type: none;
  padding: 7px;
}
.dropdown ul li {
  position: relative;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #b3b3b3;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.link svg {
  margin-right: 10px;
}
.link:hover {
  color: white;
  background: #1db954;
  background: rgba(255, 255, 255, 0.1);
}

@keyframes dropdown--playlist {
  from {
    left: 40px;
    opacity: 0;
  }
  to {
    left: 20px;
    opacity: 1;
  }
}

@keyframes dropdown--card {
  from {
    right: 50px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    left: -240px;
    opacity: 0;
  }
  to {
    left: -210px;
    opacity: 1;
  }
}
