.dropdown-container {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 30px;
  left: -190px;
  z-index: 1000;
  width: 251px;
  border-radius: 3px;
  background: #252525;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation-name: dropdown;
  animation-duration: 0.2s;
  top: 30px;
  transform-origin: left left;
}

.dropdown--playlist {
  top: 47px;
  left: 20px;
  animation-name: dropdown--playlist;
  animation-duration: 0.2s;
}
.dropdown--card {
  top: 47px;
  left: -160px;
  animation-name: dropdown--card;
  animation-duration: 0.2s;
}
.dropdown ul {
  list-style-type: none;
  padding: 7px;
}

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #b3b3b3;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.link svg {
  margin-right: 10px;
}
.link:hover {
  color: white;
  background: #1db954;
  background: rgba(255, 255, 255, 0.1);
}

@keyframes dropdown--playlist {
  from {
    left: 40px;
    opacity: 0;
  }
  to {
    left: 20px;
    opacity: 1;
  }
}

@keyframes dropdown--card {
  from {
    left: -180px;
    opacity: 0;
  }
  to {
    left: -160px;
    opacity: 1;
  }
}

@keyframes dropdown {
  from {
    left: -210px;
    opacity: 0;
  }
  to {
    left: -190px;
    opacity: 1;
  }
}
