.now-playing-bar {
  padding: 0 20px;
  display: flex;
  width: 100%;
}
.now-playing-bar__left {
  width: 30%;
  min-width: 180px;
}
.now-playing-bar__center {
  width: 40%;
  max-width: 722px;
}
.now-playing-bar__right {
  width: 30%;
  min-width: 180px;
  display: flex;
  align-items: center;
}
.extra-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.extra-controls-button,
.volume-bar__icon {
  color: #b3b3b3;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
}
.extra-controls-button:hover {
  color: white;
}
.extra-controls-button--opened {
  color: #1db954;
}
.extra-controls-button--opened:hover {
  color: #1db954;
}
.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-controls__buttons {
  margin-bottom: 12px;
  width: 165px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.playback-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playback-bar__progress-time {
  color: #b3b3b3;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.progress-bar {
  height: 12px;
  position: relative;
  width: 100%;
}
.progress-bar:hover .progress-bar__slider {
  opacity: 1;
}
.progress-bar:hover .progress-bar__fg {
  background: #1db954;
}
.progress-bar__bg {
  position: absolute;
  width: 100%;
  height: 4px;
  display: flex;
  border-radius: 2px;
  background: #595959;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.progress-bar__slider {
  background-color: #fff;
  border: 0;
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  outline: 0;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  margin-left: -7px;
}
.progress-bar__fg {
  transform: translateX(-87.4522%);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #b3b3b3;
}
.control-button {
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
  color: #b3b3b3;
  border: 0;
  outline: 0;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-button:hover {
  color: white;
}
.control-button--circled:hover {
  box-shadow: 0 0 0 0.08rem white;
}
.control-button--circled {
  border-radius: 50%;
  box-shadow: 0 0 0 0.08rem #b3b3b3;
  font-size: 23px;
}
.volume-bar {
  width: 130px;
  display: flex;
  align-items: center;
}
.volume-bar__icon {
  margin-right: 0px;
  padding: 0 7px 0 0;
  outline: 0;
  background: transparent;
  border: 0;
}
.volume-bar__icon:hover {
  color: white;
}
