.now-playing-bar {
  padding: 0 20px;
  display: flex;
  width: 100%;
}
.now-playing-bar__left {
  width: 30%;
  min-width: 180px;
}
.now-playing-bar__center {
  width: 40%;
  max-width: 722px;
}
.now-playing-bar__right {
  width: 30%;
  min-width: 180px;
  display: flex;
  align-items: center;
}
.extra-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.extra-controls-button {
  color: #b3b3b3;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
}
.extra-controls-button:hover {
  color: white;
}
.extra-controls-button--opened {
  color: #1db954;
}
.extra-controls-button--opened:hover {
  color: #1db954;
}
.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-controls__buttons {
  margin-bottom: 12px;
  width: 165px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.playback-bar {
}

.control-button {
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
  color: #b3b3b3;
  border: 0;
  outline: 0;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-button:hover {
  color: white;
}
.control-button--circled:hover {
  box-shadow: 0 0 0 0.08rem white;
  transform: scale(1.05);
}
.control-button--circled {
  border-radius: 50%;
  box-shadow: 0 0 0 0.08rem #b3b3b3;
  font-size: 23px;
}
