.sidebar {
  background: #040404;
  background: #0e0d0d;
}
.sidebar__logo {
  padding: 20px 20px;
}
.sidebar img {
  width: 150px;
}
.sidebar__list {
  list-style-type: none;
  padding-top: 20px;
}

.sidebar__heading {
  color: #989898;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 15px;
}

.sidebar__link {
  text-decoration: none;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 0.8rem;
  display: block;
  transition: 0.2s;
}
.sidebar__link_active,
.sidebar__link-icon_active {
  position: relative;
  color: white;
}
.sidebar__link-icon_active .sidebar__playlists-icon--colored {
  color: white;
}

.sidebar__link_active::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  background: #1db954;
}
.sidebar__link:hover {
  color: white;
}
.sidebar__link:hover .sidebar__playlists-icon--colored {
  color: white;
}
.link__content {
  display: flex;
  align-items: center;
  padding: 7px 20px;
}

.link__icon {
  font-size: 25px;
  margin-right: 15px;
}
.sidebar__playlists-icon,
.sidebar__playlists-icon--colored {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  height: 32px;
  width: 32px;
  color: black;
  background: #b3b3b3;
  transition: 0.2s;
}
.sidebar__playlists-icon--colored {
  font-size: 16px;
  background: linear-gradient(135deg, #450af5, #c4efd9);
  color: #ccc5c5;
}

.sidebar__link:hover .sidebar__playlists-icon {
  background: white;
}
.sidebar__devider {
  margin: 8px 20px;
  background-color: #282828;
  border: none;
  height: 1px;
}
