.library {
  padding: 35px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.library::-webkit-scrollbar {
  width: 0.6em;
  background: transparent;
}

.library::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
  border: none;
  outline: none;
}
.heading {
  color: white;
  font-size: 35px;
  margin-bottom: 80px;
}
